{% extends '::base.html.twig' %}

{% block body %}
    <h1>Articles tagged: <strong>{{ tag }}</strong></h1>
    <hr/>

    <div class="clearfix articles-list">

        <div class="posts-group">
            <div class="posts">
                {% if articles %}

                    {% for article in articles %}
                        <div class="col-sm-4">
                            <div class="post">

                                <div class="link-group">
                                    <a href="{{ article.link }}" target="_blank">
                                        <img src="{{ article.imageUrl }}" alt="Article Photo"/>
                                        <div class="info">
                                            <h3>{{ article.title }}</h3>
                                            <p>{{ article.description }}</p>
                                        </div>
                                    </a>
                                </div>{#link-group#}

                            </div>{#post#}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info text-center">
                        No Articles found with the tag named <strong>#{{ tag }}</strong>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}