{% extends '::base_admin.html.twig' %}

{% block body %}

    <div id="admin">
        <div class="clearfix">

            <div class="col-sm-3 col-md-2" id="sidebar">
                <ul class="list-group">
                    <li class="list-group-item {{ activeCategory == 'users'?'active':'' }}">
                        <a href="{{ path('admin_index') }}">Users</a>
                    </li>
                    <li class="list-group-item {{ activeCategory == 'tags'?'active':'' }}">
                        <a href="{{ path('admin_tags_index') }}">Tags</a>
                    </li>
                    <li class="list-group-item {{ activeCategory == 'category'?'active':'' }}">
                        <a href="{{ path('admin_category_index') }}">Categories</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-10" id="content">
                <div class="clearfix">
                    <h2 class="pull-left">{{ categories|length }} category found!</h2>
                    <a class="btn btn-warning pull-right" href="{{ path('admin_category_new') }}">Create a new category</a>
                </div>
                <hr />
                <div id="category-list">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for index, category in categories %}
                            <tr>
                                <td>{{ index+1 }}</td>
                                <td>{{ category.name }}</td>
                                <td>
                                    <a href="{{ path('category_delete_confirm', {id: category.id}) }}" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
{%  endblock %}
