<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />

        <title>
                ArticleHub - Read and Share Articles
        </title>

        {% block stylesheets %}
            {% stylesheets
            'bundles/app/css/thirdparty/bootstrap.min.css'
            'bundles/app/css/thirdparty/nprogress.css'
            'bundles/app/css/thirdparty/font-awesome.min.css'
            'bundles/app/css/style.css'
            %}
            {#filter='cssrewrite'#}

            <link rel="stylesheet" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script>var baseUrl = '{{ base_url }}';</script>

        {% block javascripts %}
            {% javascripts
            'bundles/app/js/thirdparty/jquery.min.js'
            'bundles/app/js/thirdparty/bootstrap.min.js'
            'bundles/app/js/thirdparty/nprogress.js'
            'bundles/app/js/thirdparty/angular/angular.min.js'
            'bundles/app/js/thirdparty/angular/angular-route.min.js'
            'bundles/app/js/thirdparty/angular/angular-animate.min.js'
            'bundles/app/js/thirdparty/angular/ui-bootstrap.min.js'
            'bundles/app/js/thirdparty/angular/ui-bootstrap-tpls.min.js'
            'bundles/app/js/thirdparty/angular/angular-timeago.min.js'
            'bundles/app/js/app.js'
            %}

            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

    </head>
    
    <body>

        <div id="container" class="container">

            <header id="header" class="clearfix">
                <div class="col-sm-3 logo">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset('bundles/app/images/ahlogo.png') }}" alt="articleHub" />
                    </a>
                </div>
                <div class="col-sm-9 dd text-right">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {% set username = app.user.username %}

                        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        {{ username }}	<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li class="separator"></li>
                                            <li><a href="{{ path('admin_index') }}">Admin Section</a></li>
                                        {% endif %}
                                        <li><a href="{{ path('user_profile', {'username' : username}) }}" title="Profile Page">
                                                Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('logout') }}" title="logout">
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    {% else %}
                        <div class="top-right-ui-username">
                            <a href="{{ path('login') }}">Login</a>
                            <span class="sep">| </span>
                            <a class="btn btn-info btn-lg" href="{{ path('register') }}">Register</a>
                        </div>
                    {% endif %}

                </div>
            </header><!-- header -->

            <div id="main">
                {% if app.session.flashBag.has('event') %}
                    <div class="alert alert-info text-center">
                        {% for msg in app.session.flashBag.get('event')  %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}

                {% block body %}{% endblock %}
            </div><!-- main -->

        </div><!-- #container -->

        <script>
        </script>
    </body>
</html>
