{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Imageurl</th>
                <th>Link</th>
                <th>Domain</th>
                <th>Tags</th>
                <th>Category</th>
                <th>Isdeleted</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.title }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.imageUrl }}</td>
                <td>{{ article.link }}</td>
                <td>{{ article.domain }}</td>
                <td>{{ article.tags }}</td>
                <td>{{ article.category }}</td>
                <td>{{ article.isDeleted }}</td>
                <td>{% if article.createdAt %}{{ article.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('article_show', { 'id': article.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
