{% extends '::base.html.twig' %}

{% block body %}

    <div id="homepage" class="clearfix" ng-app="ahApp" ng-controller="ArticleController">

        <div class="col-sm-12 col-md-8 home_common" id="content">

            <div class="posts-group">
                <div class="postbox">

                    <form class="form" name="caForm" novalidate ng-submit="caForm.$valid && addArticle()">

                        <div class="form-group">
                            <textarea
                                    ng-required="true"
                                    ng-model="articleLink"
                                    class="form-control"
                                    name="article-link"
                                    id="article-link"
                                    placeholder="Paste a link here to share"></textarea>
                        </div>
                        <div class="postinfo">
                            <div id="atags">
                                <div class="list" ng-if="atags">
                                    <span class="label" ng-repeat="tag in atags">
                                        <span class="tag">#{[ tag.name ]}</span>
                                        <span class="glyphicon glyphicon-remove" ng-click="removeTag($event)"></span>
                                    </span>
                                </div>
                                <input class="form-control" ng-keypress="addTags($event)" type="text" placeholder="Type and press ENTER to add tags"/>
                            </div>

                            <div class="clearfix">
                                <div class="categories pull-left">
                                    <label for="article-category" class="sr-only">Choose Category</label>
                                    <div class="form-group">
                                        <select
                                                class="form-control"
                                                name="category"
                                                id="article-category"
                                                ng-required="true"
                                                ng-model="articleCategory"
                                                >
                                            <option value="" disabled="disabled" selected="selected">Choose Category</option>
                                            {% for category in categories %}
                                                <option value="{{ category.id }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <button class="btn btn-info btn-md pull-right" type="submit" ng-disabled="  caForm.$invalid">
                                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Add Article
                                </button>
                            </div>
                        </div>
                    </form>

                </div><!-- postbox -->

                <div class="loading" ng-if="articles == null">
                    <h3>Loading...</h3>
                </div>
                <div class="posts" ng-if="articles">

                    <div class="post" ng-repeat="article in articles track by $index">

                        <div class="link-group">
                            <a ng-href="{[ article.link ]}" target="_blank">
                                <img ng-src="{[ article.imageUrl ]}" alt="Article Photo"/>
                                <div class="info">
                                    <h3>{[ article.title ]}</h3>
                                    <p>{[ article.description ]}</p>
                                </div>
                            </a>
                        </div>{#link-group#}
                        <div class="interaction">
                            <ul>
                                <li><a href="">Like</a></li>
                                <li><a href="">Share</a></li>
                            </ul>
                        </div>

                    </div>{#post#}

                    {#{% for article in articles %}#}
                        {#<div class="post">#}

                            {#<div class="link-group">#}
                                {#<a href="{{ article.link }}" target="_blank">#}
                                    {#<img src="{{ article.imageUrl }}" alt="Article Photo"/>#}
                                    {#<div class="info">#}
                                        {#<h3>{{ article.title }}</h3>#}
                                        {#<p>{{ article.description }}</p>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</div>&#123;&#35;link-group&#35;&#125;#}
                            {#<div class="interaction">#}
                                {#<ul>#}
                                    {#<li><a href="">Like</a></li>#}
                                    {#<li><a href="">Share</a></li>#}
                                {#</ul>#}
                            {#</div>#}

                        {#</div>&#123;&#35;post&#35;&#125;#}
                    {#{% endfor %}#}

                </div><!-- posts -->

            </div><!-- psots-group -->

        </div>{#content#}

        <div class="col-sm-12 col-md-4 home_common" id="sidebar">

            <h3>Recent Articles</h3>
        </div>{#sidebar#}

    </div>{#homepage#}

{%  endblock %}